/src/java/test/lukasbatema/mcje/plugin/*.java -linguist-documentation
/plugin/test/*.yml -linguist-documentation
/All4Seasons/.github/*.yml -linguist-documentation
/All4Seasons/.github/workflows/*.yml -linguist-documentation
